<p>
  <strong>Listar: <%= link_to 'todas', :action => 'index', :id => '' %>,
  <%= link_to 'abiertas', :action => 'index', :id => 'open' %>,
  <%= link_to 'procesadas', :action => 'index', :id => 'processed' %>,
  <%= link_to 'cerradas', :action => 'index', :id => 'closed' %>,
  <%= link_to 'fallidas', :action => 'index', :id => 'failed' %></strong>
</p>
