<p>
  <strong>List: <%= link_to 'all', :action => 'index', :id => '' %>,
  <%= link_to 'open', :action => 'index', :id => 'open' %>,
  <%= link_to 'processed', :action => 'index', :id => 'processed' %>,
  <%= link_to 'closed', :action => 'index', :id => 'closed' %>,
  <%= link_to 'failed', :action => 'index', :id => 'failed' %></strong>
</p>
