<% if @orders == [] %>
  <h2><%=
  case @status
    when 'all'
      "No hay ordenes."
    when 'closed'
      "No hay ordenes en estado cerrada."
    when 'open'
      "No hay ordenes en estado abierta."
    when 'processed'
      "No hay ordenes en estado procesada."
    when 'failed'
      "No hay ordenes en estado fallida"
    end
     %></h2>
<% else %>
  <table>
    <tr>
      <th>ID</th>
      <th>Estado</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Fecha de creación</th>
      <th>Última actualización</th>
      <th></th>
    </tr>
  <% for order in @orders %>
    <tr>
      <td align="center"><%= order.id %></td>
        <% estado = 'abierto' if order.status == 'open' %>
        <% estado = 'fallido' if order.status == 'failed' %>
        <% estado = 'procesado' if order.status == 'processed' %>
        <% estado = 'cerrado' if order.status == 'closed' %>
        <% order.status[0].capitalize + order.status[1..order.status.length-1] %>
      <td align="center"><%= estado.capitalize %></td>
      <td align="center"><%= order.total %></td>
      <td align="center"><%= order.amount %></td>
      <td align="center"><%= order.created_at.strftime("%d-%m-%Y %I:%M") %></td>
      <td align="center"><%= order.updated_at.strftime("%d-%m-%Y %I:%M") %></td>
      <td><%= link_to 'Mostrar', :action => 'show', :id => order %></td>
    </tr>
  <% end %>
  </table>

  <% if @orders.total_pages > 1 %>
    <br/>
    <%= 'Página:' %>
  <% end %>

  <%= will_paginate @orders, :page_links => true, :link_separator => ' ', :container => false,
                             :previous_label => '', :next_label => '' %>
  <p></p>
<% end %>

<%= render :partial => 'navigation' %>
