<h2>Información de contacto</h2>
<dl>
  <dt>E-mail</dt>
  <dd><%= @order.email %></dd>
  <dt>Número de teléfono</dt>
  <dd><%= @order.phone_number %></dd>
</dl>

<h2>Dirección de envío</h2>
<dl>
  <dt>Nombre</dt>
  <dd><%= @order.ship_to_first_name %></dd>
  <dt>Apellidos</dt>
  <dd><%= @order.ship_to_last_name %></dd>
  <dt>Dirección</dt>
  <dd><%= @order.ship_to_address %></dd>
  <dt>Ciudad</dt>
  <dd><%= @order.ship_to_city %></dd>
  <dt>Código postal</dt>
  <dd><%= @order.ship_to_postal_code %></dd>
  <dt>País</dt>
  <dd><%= Country.find_country_by_alpha2(@order.ship_to_country_code).name %></dd>
</dl>

<h2>Detalles de la orden</h2>
<% for item in @order.order_items %>
  <%= link_to item.disc.title, :controller => 'disc', :action => 'show', :id => item.disc.id %>
  <%= pluralize(item.amount, "disc", "discs") %>, <%= item.price * item.amount %> € <br/>
<% end %>

<p><strong>Total <%= @order.total %> €</strong></p>

<h2>Estado de la orden</h2>
<dl>
  <dt>Estado</dt>
  <% @estado = 'abierto' if @order.status == 'open' %>
  <% @estado = 'fallido' if @order.status == 'failed' %>
  <% @estado = 'procesado' if @order.status == 'processed' %>
  <% @estado = 'cerrado' if @order.status == 'closed' %>
  <dd><%= @estado[0].capitalize + @estado[1..@estado.length-1] %></dd>
  <% if @order.failed? %>
    <dt>Error</dt>
    <dd><%= @order.error_message %></dd>
  <% end %>
</dl>

<% if !@order.closed? %> <p></p> <% end %>
<%= button_to 'Cerrar orden', {:action => 'close', :id => @order},
    data: { confirm: "¿Está seguro de que quiere cerrar la orden #{@order.id}?" } if @order.processed? %>
<%= render :partial => 'navigation' %>
