<dl>
  <dt>Title</dt>
  <dd><%= @disc.title %></dd>
  <dt>Producer</dt>
  <dd><%= @disc.producer.name %></dd>
  <dt>Produced at</dt>
  <dd><%= @disc.produced_at.strftime("%d/%m/%Y at %I:%M%p") %></dd>
  <dt>Artists</dt>
  <dd><%= @disc.artist_names %></dd>
  <dt>SERIAL_NUMBER</dt>
  <dd><%= @disc.serial_number %></dd>
  <dt>Blurb</dt>
  <%= RedCloth.new(@disc.blurb).to_html.html_safe if @disc.blurb %>
  <dt>Price</dt>
  <dd><%= @disc.price %></dd>
  <dt>Cover image</dt>
  <% if @disc.cover_image.exists? then %>
    <dd><%= image_tag @disc.cover_image.url %></dd>
  <% else %>
    <dd><%= image_tag '/missing.png' %></dd>
    <p> There is no cover image attached. Please upload one. </p>
  <% end %>
</dl>

<%= link_to 'Edit', :action => 'edit', :id => @disc %> |
<%= link_to 'Back', :action => 'index' %>
