<dl>
  <dt>Titulo</dt>
  <dd><%= @disc.title %></dd>
  <dt>Productora</dt>
  <dd><%= @disc.producer.name %></dd>
  <dt>Publicado el:</dt>
  <dd><%= @disc.produced_at.strftime("%d/%m/%Y at %I:%M%p") %></dd>
  <dt>Artista</dt>
  <dd><%= @disc.artist_names %></dd>
  <dt>NÚMERO DE SERIE</dt>
  <dd><%= @disc.serial_number %></dd>
  <dt>Descripción</dt>
  <%= RedCloth.new(@disc.blurb).to_html.html_safe if @disc.blurb %>
  <dt>Precio</dt>
  <dd><%= @disc.price %></dd>
  <dt>Portada</dt>
  <% if @disc.cover_image.exists? then %>
    <dd><%= image_tag @disc.cover_image.url %></dd>
  <% else %>
    <dd><%= image_tag '/missing.png' %></dd>
    <p> No hay una portada adjuntada. Porfavor seleccione una. </p>
  <% end %>
</dl>

<%= link_to 'Editar', :action => 'edit', :id => @disc %> |
<%= link_to 'Atrás', :action => 'index' %>
