<<<<<<< HEAD
<h2>de <%=@disc.artist_names %></h2>
=======
<h2>by <%=@disc.artist_names %></h2>
>>>>>>> 0e00f7d4bdd07c5a73eb5663a57b3fd249d765fa
<% if @disc.cover_image.exists? then %>
  <dd><%= image_tag @disc.cover_image.url %></dd>
<% else %>
  <p>No hay imágen de portada.</p>
<% end %>
<dl>
  <dt>Precio</dt>
  <dd><%= sprintf("%0.2f", @disc.price) %></dd>
  <dt>Productora</dt>
  <dd><%= @disc.producer.name %></dd>
  <dt>Descripción</dt>
  <%= RedCloth.new(@disc.blurb).to_html.html_safe if @disc.blurb %>
</dl>

<p><%= link_to 'Catálogo', :action => 'index' %> </p>
